@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "./pages.scss";
@import "./creative.scss";
@import "./sessions.scss";
@import "./words.scss";
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|M+PLUS+Rounded+1c&display=swap');
body { 
    padding-top: 80px; 
    font-family: 'Fredoka One', cursive;
}

section {
    overflow: auto;
}
  
textarea {
    resize: vertical;
}
  
.center {
    text-align: center;
}
  
.center h1 {
    margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}
  
h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}
  
h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}
  
p {
    font-size: 1.1em;
    line-height: 1.7em;
}


/* header */

#logo {
    float: left;
    font-size: 2em;
    color: black;
    font-weight: bold;

}
  
#logo:hover {
    color: gray;
    text-decoration: none;
}

.table th, .table td {
    vertical-align: middle;
}

#filename {
    display: inline !important;
    vertical-align: middle;
}

*:focus, button:focus {
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}


.btn {
    border-radius: 10rem;
}